<template>
    <div id="change_class">
        <h1>CHANGE CLASS TEMPLATE</h1>
        <p>{{ title }}</p>
        <input type="text" v-model="attachedClass">
     <div :class="{
          yellow : attachedClass == 'yellow',
          green : attachedClass == 'green',
          red : attachedClass == 'red',
          }" class="box"></div>
          <!--
              :class key value şeklinde değer alır eğer değer true false gibi bir durumla alınacaksa conditional şeklinde adlandırılır
            -->
     
     <div :class="{red : attachedClass == 'red'}" class="box"></div>
     <div :class="{green : attachedClass == 'boxhover'}" class="box"></div>
     <!--  class değiştirmek için method == tanımladığımı inputtan alır, : ile tanımladığım
     değeri class'a ekler-->
    </div>
</template>
<script>


export default {
    data() {
        return {
            title: "Change Class Components",
            attachedClass: "",
        }

    },
    methods:{
        
    }


}
</script>
<style scoped>
.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5px;
}
.yellow{
    background-color:yellow;
}
.green{
    background-color:green;
}
.red{
    background-color:red;
}
.boxhover:hover{
    background-color:red;
}
</style>