<template>
    <div id='data_model'>
        <p>{{title}}</p>
        <input type="text" v-model="name"/>
        <p>{{ name }}</p>
        <button v-on:click="increase">Arttır</button>
        <button v-on:click="decrease">Azalt</button>
        <p>Counter: {{ counter }}</p>
           <p>result: {{ result }}</p>
           
        <button v-on:click="counter++">Arttır</button>
        <button v-on:click="counter--">Azalt</button>
        <button v-on:click="secondcounter++">2.Counter Artır</button>
        <p>Secound Counter: {{ secondcounter }}</p>
        <p>Sonuc: {{ sonuc() }}</p>
        <p>Output: {{ output }}</p>
        <button v-on:click="changeLink">Linki değiştirmek için tıklayınız.</button>
        <a  v-bind:href="link">Link için tıklayınız.</a>
        <p>data bind ederken v-on:click yerine @click , v--bind:href yerine :href kullanarak kısaltma yapabiliriz</p>
         <button @click="changeLink">Linki değiştirmek için tıklayınız.</button>
        <a  :href="link">Link için tıklayınız.</a>
    </div>
   
</template>
 <script>
    export default {
         data () {
             return {
            title:'Data Binding Title',
            name: 'didem',
            counter : 0,
            result:"",
            secondcounter: 0,
            link: "http://www.vuejsegitim.com",
             }
        },
         methods:{
             increase: function(){
                 this.counter++;
                 this.result = this.counter > 10 ? "10'dan büyüktür" : "10'dan küçüktür";
                 
             },
             decrease : function(){
                 this.counter--;
                 this.result = this.counter > 10 ? "10'dan büyüktür" : "10'dan küçüktür"
             },
             sonuc : function(){
                 console.log('method calıstı');
                 return this.counter > 10 ? "10'dan büyüktür" : "10'dan küçüktür";
             },
             changeLink: function(){
                 console.log('change link calıstı');
                 this.link ="www.google.com.tr";

             },
        },
        computed:{
            output : function(){
                console.log('computed calıstı');
                 return this.secondcounter > 10 ? "10'dan büyüktür" : "10'dan küçüktür";
            }
            //Senkron calısır
        },
        watch:{
           counter(newvalue,old ){
               console.log('new value: ' + newvalue + 'old' + old);
               var vm = this;
               console.log(this);
                setTimeout(() => vm.counter = 0 ,1500)
           }
           //Asenkron calısır
        },
    }

        
</script>