<template>
    <div id="appTWO">
        <h6 v-once>Data modelde ilk tanımladığım title: {{title}}</h6>
        <h6>Data modelde sonradan değiştirdiğim title: {{title}}</h6>
        <hr/>
        <input type="text" v-on:input="changeTitle">
        <p>{{description}}</p>
        <p>{{ hello() }}<a v-bind:href="link">Link</a></p>
        <p>{{blogLink}}</p><!--///eğer tag içerisine değeri bu şekilde gönderirsen string ifade -->
        <p v-html="blogLink"></p> <!--////data bind edildiğinde v-html linkini alabilirsin.-->
        <img v-bind:src="image" alt="wallpaper" height="100"/>
        <button  v-on:click="showAlert('didem')">Button</button>
        <button  v-on:click="counter++">Artır1</button>
        <button  v-on:click="counter--">Azalt1</button>
        <button  v-on:click="increaseCounter">Artır-with-method</button>
        <p>{{counter}}</p>
        <p>{{(counter * 10)/2}}</p>

        <p>{{counter > 10 ? "Counter 10'dan büyüktür" : "Counter 10'dan küçüktür"}}</p>
        <p>{{counter < 0 ? "counter negatif" : "counter pozitif"}}</p>
        <p v-on:mousemove="updateCoords(2, $event)">Koordinatlar: {{x}},{{y}}
            <span v-on:mousemove.stop>Mousemove stop</span>
            <!-- element attribute tarafında fonksiyonu durdurabilirsin -->
        </p>

        <input type="text" v-on:keyup.enter="showAlertİnput"/>
        <!-- element attribute enter tuşu tanımlı ve istenilen method eklenebilir -->
    </div>
</template>

<script>
export default {
 data () {
    return {
      title:"Merhaba",
        description:"  element description",
        link: "https://www.google.com.tr/",
        blogLink: "<a href='https://vuejsegitim.com'>link</a>",
        image: "https://mcdn.wallpapersafari.com/medium/23/97/fImnZt.jpg",
        counter:0,
        x: 0,
        y:0,

    }
  },
   
    methods:{
        changeTitle: function(event){
            this.description = event.target.value;
        },
        hello: function(){
            this.title = "Merhaba, yenilenmiş!"
            return this.title;
        },  
        showAlert: function(name){
            alert(name);
        },
        increaseCounter: function(){
            this.counter++;

        },
        updateCoords: function(step, event){ 
            this.counter += step; 
            //tanımladığım değişkenleri farklı methodlar içerisinde değiştirebilirim.
            this.x = event.clientX;
            this.y = event.clientY;
        },
        showAlertİnput: function(event){
            alert(event.target.value);
        }

    }


}
</script>
<style scoped>
p{
    color:white;
    background-color: gray;
}
button{
    border-radius: 10px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    height:50px;
    color:gray;
    cursor:pointer;
    background-color: whitesmoke;
    float:left;
}
</style>