<template>
  <div>
    <HelloWorld v-if="!showhide" msg="Welcome to Your Vue.js App"/>
    <button @click="showhide = !showhide"> Button</button>
    <deneme v-if="showhide"> </deneme>
    <data-binding v-if="showhide"></data-binding>
    <change-class v-if="showhide"></change-class>
  </div>
</template>

<script>

//////////eğer ikinci harfi büyükse "-" ile büyük harf ayırılır.!
import HelloWorld from './components/HelloWorld.vue'
import Deneme from './components/deneme.vue'
import DataBinding from './components/databinding.vue'
import changeClass from './components/changeclass.vue'
import study from './components/study.vue'
//component burda tanımlanır

export default {
  name: 'App',
  data(){
    return {
      showhide :false,
    }
  },
  components: {
    HelloWorld,
    Deneme,
    DataBinding,
    changeClass,
    study,
    //tanımlanan component burda kulanılır
    //component içerisinde çağırılma yöntemi
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
